In [1]:
import DatabaseQueryUpdate as db

In [2]:
from sshtunnel import SSHTunnelForwarder
PORT=5432
with SSHTunnelForwarder(('srn01.cs.cityu.edu.hk', 22),
                        ssh_username='stylometry',
                        ssh_password='stylometry',
                        remote_bind_address=('localhost', 5432),
                        local_bind_address=('localhost', 5400)):
    bigDocument = db.getDocBigData(5400)

Execution completed
Read completed
Number of rows: 27679
<type 'list'>
doc_id          int64
doc_title      object
year_of_pub    object
dtype: object
Data Frame created: Shape: (27679, 3)

In [3]:
from sshtunnel import SSHTunnelForwarder
PORT=5432
with SSHTunnelForwarder(('srn02.cs.cityu.edu.hk', 22),
                        ssh_username='stylometry',
                        ssh_password='stylometry',
                        remote_bind_address=('localhost', 5432),
                        local_bind_address=('localhost', 5400)):
    smallDocument = db.getDocSmallData(5400)

Execution completed
Read completed
Number of rows: 2386
<type 'list'>
doc_id          int64
doc_title      object
year_of_pub    object
dtype: object
Data Frame created: Shape: (2386, 3)

In [4]:
print("Data Frame created: Shape: %s" % (str(bigDocument.shape)))
print("Data Frame created: Shape: %s" % (str(smallDocument.shape)))

Data Frame created: Shape: (27679, 3)
Data Frame created: Shape: (2386, 3)

In [5]:
df = bigDocument.loc[ bigDocument['doc_title'] == smallDocument.loc[10]['doc_title'] ]

In [8]:
for index, row in smallDocument.iterrows():
    df = bigDocument.loc[ bigDocument['doc_title'] == row['doc_title'] ]
    doc_id = df['doc_id']
    doc_title = df['doc_id']
    year_of_pub = df['doc_id']
    print('doc_id = %s ' % (doc_id))
    print('doc_title = %s ' % (doc_title))
    print('year_of_pub = %s ' % (year_of_pub))
#     from sshtunnel import SSHTunnelForwarder
#     PORT=5432
#     with SSHTunnelForwarder(('srn02.cs.cityu.edu.hk', 22),
#                             ssh_username='stylometry',
#                             ssh_password='stylometry',
#                             remote_bind_address=('localhost', 5432),
#                             local_bind_address=('localhost', 5400)):
#         smallDocument = db.updateDocSmallData(5400, doc_id, doc_title, year_of_pub)

doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 20069    21165
Name: doc_id, dtype: int64
doc_title = 20069    21165
Name: doc_id, dtype: int64
year_of_pub = 20069    21165
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 6826    7251
Name: doc_id, dtype: int64
doc_title = 6826    7251
Name: doc_id, dtype: int64
year_of_pub = 6826    7251
Name: doc_id, dtype: int64
doc_id = 15680    16633
Name: doc_id, dtype: int64
doc_title = 15680    16633
Name: doc_id, dtype: int64
year_of_pub = 15680    16633
Name: doc_id, dtype: int64
doc_id = 6091    6399
Name: doc_id, dtype: int64
doc_title = 6091    6399
Name: doc_id, dtype: int64
year_of_pub = 6091    6399
Name: doc_id, dtype: int64
doc_id = 3475    3654
Name: doc_id, dtype: int64
doc_title = 3475    3654
Name: doc_id, dtype: int64
year_of_pub = 3475    3654
Name: doc_id, dtype: int64
doc_id = 11471    12256
Name: doc_id, dtype: int64
doc_title = 11471    12256
Name: doc_id, dtype: int64
year_of_pub = 11471    12256
Name: doc_id, dtype: int64
doc_id = 19071    20150
Name: doc_id, dtype: int64
doc_title = 19071    20150
Name: doc_id, dtype: int64
year_of_pub = 19071    20150
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 1557    1635
Name: doc_id, dtype: int64
doc_title = 1557    1635
Name: doc_id, dtype: int64
year_of_pub = 1557    1635
Name: doc_id, dtype: int64
doc_id = 8827    9310
Name: doc_id, dtype: int64
doc_title = 8827    9310
Name: doc_id, dtype: int64
year_of_pub = 8827    9310
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 9485    10009
Name: doc_id, dtype: int64
doc_title = 9485    10009
Name: doc_id, dtype: int64
year_of_pub = 9485    10009
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 2303    2419
Name: doc_id, dtype: int64
doc_title = 2303    2419
Name: doc_id, dtype: int64
year_of_pub = 2303    2419
Name: doc_id, dtype: int64
doc_id = 27237    28682
Name: doc_id, dtype: int64
doc_title = 27237    28682
Name: doc_id, dtype: int64
year_of_pub = 27237    28682
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 21290    22436
Name: doc_id, dtype: int64
doc_title = 21290    22436
Name: doc_id, dtype: int64
year_of_pub = 21290    22436
Name: doc_id, dtype: int64
doc_id = 10022    10614
Name: doc_id, dtype: int64
doc_title = 10022    10614
Name: doc_id, dtype: int64
year_of_pub = 10022    10614
Name: doc_id, dtype: int64
doc_id = 8724    9192
Name: doc_id, dtype: int64
doc_title = 8724    9192
Name: doc_id, dtype: int64
year_of_pub = 8724    9192
Name: doc_id, dtype: int64
doc_id = 26456    27846
Name: doc_id, dtype: int64
doc_title = 26456    27846
Name: doc_id, dtype: int64
year_of_pub = 26456    27846
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 12614    13426
Name: doc_id, dtype: int64
doc_title = 12614    13426
Name: doc_id, dtype: int64
year_of_pub = 12614    13426
Name: doc_id, dtype: int64
doc_id = 8569    9046
Name: doc_id, dtype: int64
doc_title = 8569    9046
Name: doc_id, dtype: int64
year_of_pub = 8569    9046
Name: doc_id, dtype: int64
doc_id = 21425    22579
Name: doc_id, dtype: int64
doc_title = 21425    22579
Name: doc_id, dtype: int64
year_of_pub = 21425    22579
Name: doc_id, dtype: int64
doc_id = 14344    15245
Name: doc_id, dtype: int64
doc_title = 14344    15245
Name: doc_id, dtype: int64
year_of_pub = 14344    15245
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 16192    17159
Name: doc_id, dtype: int64
doc_title = 16192    17159
Name: doc_id, dtype: int64
year_of_pub = 16192    17159
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 13638    14505
Name: doc_id, dtype: int64
doc_title = 13638    14505
Name: doc_id, dtype: int64
year_of_pub = 13638    14505
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 18690    19762
Name: doc_id, dtype: int64
doc_title = 18690    19762
Name: doc_id, dtype: int64
year_of_pub = 18690    19762
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 23327    24602
Name: doc_id, dtype: int64
doc_title = 23327    24602
Name: doc_id, dtype: int64
year_of_pub = 23327    24602
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 3030    3186
Name: doc_id, dtype: int64
doc_title = 3030    3186
Name: doc_id, dtype: int64
year_of_pub = 3030    3186
Name: doc_id, dtype: int64
doc_id = 18555    19622
Name: doc_id, dtype: int64
doc_title = 18555    19622
Name: doc_id, dtype: int64
year_of_pub = 18555    19622
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 10008    10598
Name: doc_id, dtype: int64
doc_title = 10008    10598
Name: doc_id, dtype: int64
year_of_pub = 10008    10598
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 3066    3228
Name: doc_id, dtype: int64
doc_title = 3066    3228
Name: doc_id, dtype: int64
year_of_pub = 3066    3228
Name: doc_id, dtype: int64
doc_id = 8564    9041
Name: doc_id, dtype: int64
doc_title = 8564    9041
Name: doc_id, dtype: int64
year_of_pub = 8564    9041
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 16997    17996
Name: doc_id, dtype: int64
doc_title = 16997    17996
Name: doc_id, dtype: int64
year_of_pub = 16997    17996
Name: doc_id, dtype: int64
doc_id = 18916    19981
18917    19982
Name: doc_id, dtype: int64
doc_title = 18916    19981
18917    19982
Name: doc_id, dtype: int64
year_of_pub = 18916    19981
18917    19982
Name: doc_id, dtype: int64
doc_id = 6287      6599
21223    22367
Name: doc_id, dtype: int64
doc_title = 6287      6599
21223    22367
Name: doc_id, dtype: int64
year_of_pub = 6287      6599
21223    22367
Name: doc_id, dtype: int64
doc_id = 470    501
Name: doc_id, dtype: int64
doc_title = 470    501
Name: doc_id, dtype: int64
year_of_pub = 470    501
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 23278    24544
Name: doc_id, dtype: int64
doc_title = 23278    24544
Name: doc_id, dtype: int64
year_of_pub = 23278    24544
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 26445    27835
Name: doc_id, dtype: int64
doc_title = 26445    27835
Name: doc_id, dtype: int64
year_of_pub = 26445    27835
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 8201    8671
Name: doc_id, dtype: int64
doc_title = 8201    8671
Name: doc_id, dtype: int64
year_of_pub = 8201    8671
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 24312    25624
Name: doc_id, dtype: int64
doc_title = 24312    25624
Name: doc_id, dtype: int64
year_of_pub = 24312    25624
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 8214    8684
8384    8859
8926    9415
Name: doc_id, dtype: int64
doc_title = 8214    8684
8384    8859
8926    9415
Name: doc_id, dtype: int64
year_of_pub = 8214    8684
8384    8859
8926    9415
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 8050    8515
Name: doc_id, dtype: int64
doc_title = 8050    8515
Name: doc_id, dtype: int64
year_of_pub = 8050    8515
Name: doc_id, dtype: int64
doc_id = 1521    1599
Name: doc_id, dtype: int64
doc_title = 1521    1599
Name: doc_id, dtype: int64
year_of_pub = 1521    1599
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 22759    23996
Name: doc_id, dtype: int64
doc_title = 22759    23996
Name: doc_id, dtype: int64
year_of_pub = 22759    23996
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 452    480
Name: doc_id, dtype: int64
doc_title = 452    480
Name: doc_id, dtype: int64
year_of_pub = 452    480
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 11680    12472
Name: doc_id, dtype: int64
doc_title = 11680    12472
Name: doc_id, dtype: int64
year_of_pub = 11680    12472
Name: doc_id, dtype: int64
doc_id = 1544    1622
Name: doc_id, dtype: int64
doc_title = 1544    1622
Name: doc_id, dtype: int64
year_of_pub = 1544    1622
Name: doc_id, dtype: int64
doc_id = 4200    4411
Name: doc_id, dtype: int64
doc_title = 4200    4411
Name: doc_id, dtype: int64
year_of_pub = 4200    4411
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 3920    4123
Name: doc_id, dtype: int64
doc_title = 3920    4123
Name: doc_id, dtype: int64
year_of_pub = 3920    4123
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 26448    27838
Name: doc_id, dtype: int64
doc_title = 26448    27838
Name: doc_id, dtype: int64
year_of_pub = 26448    27838
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 22162    23363
Name: doc_id, dtype: int64
doc_title = 22162    23363
Name: doc_id, dtype: int64
year_of_pub = 22162    23363
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 11473    12258
Name: doc_id, dtype: int64
doc_title = 11473    12258
Name: doc_id, dtype: int64
year_of_pub = 11473    12258
Name: doc_id, dtype: int64
doc_id = 18535    19602
Name: doc_id, dtype: int64
doc_title = 18535    19602
Name: doc_id, dtype: int64
year_of_pub = 18535    19602
Name: doc_id, dtype: int64
doc_id = 4197    4408
Name: doc_id, dtype: int64
doc_title = 4197    4408
Name: doc_id, dtype: int64
year_of_pub = 4197    4408
Name: doc_id, dtype: int64
doc_id = 10893    11608
Name: doc_id, dtype: int64
doc_title = 10893    11608
Name: doc_id, dtype: int64
year_of_pub = 10893    11608
Name: doc_id, dtype: int64
doc_id = 18087    19141
Name: doc_id, dtype: int64
doc_title = 18087    19141
Name: doc_id, dtype: int64
year_of_pub = 18087    19141
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 6848    7273
Name: doc_id, dtype: int64
doc_title = 6848    7273
Name: doc_id, dtype: int64
year_of_pub = 6848    7273
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 100    111
Name: doc_id, dtype: int64
doc_title = 100    111
Name: doc_id, dtype: int64
year_of_pub = 100    111
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 16191    17158
Name: doc_id, dtype: int64
doc_title = 16191    17158
Name: doc_id, dtype: int64
year_of_pub = 16191    17158
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 23585    24864
Name: doc_id, dtype: int64
doc_title = 23585    24864
Name: doc_id, dtype: int64
year_of_pub = 23585    24864
Name: doc_id, dtype: int64
doc_id = 15265    16198
Name: doc_id, dtype: int64
doc_title = 15265    16198
Name: doc_id, dtype: int64
year_of_pub = 15265    16198
Name: doc_id, dtype: int64
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = Series([], Name: doc_id, dtype: int64)
doc_title = Series([], Name: doc_id, dtype: int64)
year_of_pub = Series([], Name: doc_id, dtype: int64)
doc_id = 3242    3411
Name: doc_id, dtype: int64
doc_title = 3242    3411
Name: doc_id, dtype: int64
year_of_pub = 3242    3411
Name: doc_id, dtype: int64